frontend localnodes
    bind *:6443
    mode tcp
    default_backend nodes
    timeout client          1m

backend nodes
    mode tcp
    balance roundrobin
    server m1 m1:6443;
    timeout connect        10s
    timeout server          1m
