global
  log /dev/log  local0
  log /dev/log  local1 notice
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client 50s
    timeout client-fin 50s
    timeout server 50s
    timeout tunnel 1h

listen stats
    bind *:1080
    stats refresh 30s
    stats uri /stats

listen kube-api-server
    bind {{ haproxy_master_ip }}:{{ haproxy_master_port }}
    mode tcp
    option tcplog
    balance roundrobin

{% for i in range(haproxy_masters_ips | length) %}
    server kubeapi-{{i+1}} {{ haproxy_masters_ips[i] }}:{{ haproxy_kubeapi_port }} check
{% endfor %}
