apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
bootstrapTokens:
- token: {{ kubeadm_token }}
  ttl: 24h
localAPIEndpoint:
  advertiseAddress: {{ kubeadm_advertise_address }}
  bindPort: {{ kubeadm_bind_port }}
certificateKey: {{ kubeadm_certificate_key }}

---

apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: {{ kubeadm_version }}
controlPlaneEndpoint: "{{ kubeadm_controlplane_endpoint }}"
networking:
  podSubnet: {{ kubeadm_pod_subnet }}
